.mid {
    text-align: center;
    margin: auto;
}

.header {
    line-height: 2.7em;
}

.turn {
    margin-left: 30%;
    float: left;
}

.message {
    margin-right: 30%;
    float: right;
}

.copyright {
    color: #222222;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #aaa;
}

canvas {
    z-index: -1;
    margin: auto;
    background: url("/img/main.jpg");
    border: 1px solid #d3d3d3;
}