.mid {
    text-align: center;
    margin: auto;
}

.header {
    margin: 10px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.turn {
    margin-left: 28%;
    margin-bottom: 1%;
    float: left;
}

.message {
    margin-right: 28%;
    margin-bottom: 1%;
    float: right;
}

.copyright {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: url("../Nine-Mens-Morris/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    color: #FFF;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: -1;
    margin: auto;
    background: url("main.png");
    border: 1px solid #d3d3d3;
}
